.third__container {
    max-width: 506.9px;
    width: 100%;
}


.third__account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 35px 37px 80px 0;
}

.third__account div {
   margin-right: 10px;
}

.third__account-name div{
    font-size: 14px;
}

.third__name {
    font-weight: 600;
}

.third__holder {
    color: #AEAEAE;
}

.third__title {
    display: flex;
    margin-bottom: 13.5px;
}

.third__goals {
    color: #404040;
    font-size: 20px;
    font-weight: 600;
}




